certifi==2019.11.28
click==8.0.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==0.4.15
grpcio==1.16.1
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
SQLAlchemy==1.3.13
Werkzeug==2.0.1
zipp==2.2.0
