<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <!-- <link rel="stylesheet" href="./assets/style.css"> -->
   <!-- <link rel="stylesheet" href="../static/css/style3.css"/> -->
    <link rel="stylesheet" href="../static/css/fantasy_style.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>
<body>
  <div class="container-fluid">
    <!-- The header starts here -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
                <a class="navbar-brand h1 goofy_blue" href="/">
                    <h1>Cads Kiper</h1>
                    <i class="fas fa-home"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline">
                    <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                        <ul class="navbar-nav ">
                          <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                            <ul class="navbar-nav ">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Homepage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/" >
                                  Homepage
                                  </a>
                                </div>
                              </li>
                              </ul>
                            </div>
                          <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                            <ul class="navbar-nav ">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Articles
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <!-- <a class="dropdown-item" href="/intro">
                                      League History - Playoff Finishes <br>
                                      and Stats
                                  </a> -->
                                    <a class="dropdown-item">
                                      <a class="dropdown-item" href="/franchise"> 
                                        Cads Kiper Franchise Rankings
                                    </a>
                                  </div>
                                </li>
                              </ul>
                              <!-- <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        History
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/predraft" >
                                        Culumative Results
                                        </a>
                                        <a class="dropdown-item" href="/postdraft" >
                                        Defining the "Modern Era"
                                        </a>
                                        <a class="dropdown-item" href="/week3">
                                 
                                        </a>
                                        <a class="dropdown-item" href="/week6">
                                      
                                        </a>
                                        <a class="dropdown-item" href="/week9">
                           
                                        </a>
                                        <a class="dropdown-item" href="/playoffs"> 
                                        </a>
                                      </div>
                                    </li>
                                  </ul>
                                </div> -->
                                  <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                    <ul class="navbar-nav ">
                                        <li class="nav-item dropdown">
                                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Power Rankings
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item" href="/predraft" >
                                            Pre Draft 
                                            </a> 
                                            <a class="dropdown-item" href="/week4">
                                            Week 4
                                            </a>
                                            <a class="dropdown-item" href="/week8">
                                            Week 8
                                            <a class="dropdown-item" href="/postseason"> 
                                            Playoffs
                                            </a>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <!-- One drop down-->
                                <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                  <ul class="navbar-nav ">
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Misc.
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item" href='https://twitter.com/CadsKiper' target="_blank">
                                          Twitter
                                          </a>
                                          <!-- <a class="dropdown-item" href='/content'>
                                            Content
                                          </a> -->
                                        </div>
                                      </li>
                                   </ul>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </ul>
                    </div>
                </form>
            </nav>
        </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <!--Margin-->
        </div>
      <div class="col-10">
        <br>
        <br> 
        <p>
          <div>
            <h2 class="text-center">
              Week 8 Power Rankings
            </h2>
          </div>
        </p>
        <hr>
        <br>
        <div id=main_container >
        <table class="table table-striped table-dark">
          <thead class="table table-striped table-dark">
          <tr>
            <th scope="row">Rank</th>
            <th scope="row">Team</th>
            <th scope="row">Change</th>
            <th scope="row">Comments</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Matty Ice (6-2)</td>
              <td> + 4 </td>
              <td>Powered by his 4 am pickups, Matty Ice has risen to the top by out working everyone.
                He's simply built different as "[his] body clock gets [him] up at optimal free agent picking time". 
                He does whatever it takes, even if  "being a hardo gets [him] to the top of the table, [he'll] gladly do it".
                Matt only looks to improve on his strong start, as he picked up Jeff Wilson moments after waivers.
</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>SZN (5-3)</td>
              <td> - 1 </td>
              <td>While SZN has slowed his pace a little, he still looks to be the greatest threat to Matty Ice repeating.
                Injuries to both A St. B and Johnny Taylor may have part of the reason. Ducks are known throughout
                the animal kingdom for their resiliency and it still very well could be the SZN of the duck.
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Playoffs or Retire (6-2)</td>
              <td> - 1 </td>
              <td> After starting 6-2, Bucci can turn his attention from a playoff berth to a first round bye. With a pair of upside backs and a week winning reciever in 
                Waddle, Bucci is a threat on any given week and will be a tough out come playoff time.
              </td>
            </tr>
            <th scope="row">4</th>
              <td>JHM (4-4) </td>
              <td> - 1 </td>
              <td>While JHM got off to a hot start, he is only 1-3 since the last rankings came out. That can be partially attributed to a 
                pair of injuries to his RBs. Zeke, who has Uncle Jerry's blessing, should return to form when he gets back. Overall JMH is 
              solid throughout his lineup. </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Oasis (5-3)</td>
              <td> +2 </td>
              <td>In the bottom half of the league in both points for and expected wins, Oasis has somehow defied the sabermetrics to a 5-3 start.
                With the emergence of TEJ and return of Hop, Oasis looks to be more of a threat than before.
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>David's Balls (3-5)</td>
              <td> + 2 </td>
              <td> Really standard team out of Nat here. Two strong RBs, a WR1 in Devante and a high-end QB. Outside of that,
                there really isn't much on there. David's Balls will really have to sack up here as they are on the verge of 
                not making the playoffs.
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>TTT (4-4)</td>
              <td> - 3</td>
              <td>Historically, Stikes has waited until Thanksgiving for his yearly collapse, but this year I think we will get it earlier. Hall was looking to be a steal before his
                season was unfortunately cut short; however, shockingly, taking two RBs that are both hurt or coming off an injury isn't a good idea in the middle rounds. </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Dooley (3-5)</td>
              <td> - 1</td>
              <td> In the top half of the league in both points for and expected wins, Dooley could easily 
                find himself back in the playoff hunt, but currently is on the outside looking in. While the spike weeks haven't been there, Dooley has mostly found himself in
              the middle of scoring on any given week.</td>
            </tr>
            <tr>
             <th scope="row">9</th>
              <td>Stocktown (3-5)</td>
              <td> + 1 </td>
              <td> Second to last in both points for and expected wins, Stocktown is still looking for that spark to get back intro
                playoff contention. Where he'll find it I don't know but dropping a game to the previously defeated The Toast team
                didn't help.
              </td>
            </tr>
            <tr>
             <th scope="row">10</th>
             <td>The Toast Team (1-7)</td>
             <td> - 1</td>
             <td> The Toast Team tied the league history for the worse start in Milton fantasy history. The only team that's not in the mix for a playoffs
              spot, he can start working on his 2023 research early.
             </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <br><br>
      Note on the rankings - these rankings are mostly concerned with the likelihood to win championships.

      <br><br><br>
      <div class="col-1">
        <!--Margin--> 
      </div>
     </div> 
  </div>
</body>
    <footer class="footer">
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="../static/js/csco_edu.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>