<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <!-- <link rel="stylesheet" href="./assets/style.css"> -->
   <!-- <link rel="stylesheet" href="../static/css/style3.css"/> -->
    <link rel="stylesheet" href="../static/css/fantasy_style.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>
<body>
  <div class="container-fluid">
    <!-- The header starts here -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
                <a class="navbar-brand h1 goofy_blue" href="/">
                    <h1>Cads Kiper</h1>
                    <i class="fas fa-home"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline">
                    <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                        <ul class="navbar-nav ">
                          <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                            <ul class="navbar-nav ">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Homepage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/" >
                                  Homepage
                                  </a>
                                </div>
                              </li>
                              </ul>
                            </div>
                          <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                            <ul class="navbar-nav ">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Articles
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <!-- <a class="dropdown-item" href="/intro">
                                      League History - Playoff Finishes <br>
                                      and Stats
                                  </a> -->
                                    <a class="dropdown-item">
                                      <a class="dropdown-item" href="/franchise"> 
                                        Cads Kiper Franchise Rankings
                                    </a>
                                  </div>
                                </li>
                              </ul>
                              <!-- <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        History
                                      </a>
                                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/predraft" >
                                        Culumative Results
                                        </a>
                                        <a class="dropdown-item" href="/postdraft" >
                                        Defining the "Modern Era"
                                        </a>
                                        <a class="dropdown-item" href="/week3">
                                 
                                        </a>
                                        <a class="dropdown-item" href="/week6">
                                      
                                        </a>
                                        <a class="dropdown-item" href="/week9">
                           
                                        </a>
                                        <a class="dropdown-item" href="/playoffs"> 
                                        </a>
                                      </div>
                                    </li>
                                  </ul>
                                </div> -->
                                  <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                    <ul class="navbar-nav ">
                                        <li class="nav-item dropdown">
                                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Power Rankings
                                          </a>
                                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item" href="/predraft" >
                                            Pre Draft 
                                            </a> 
                                            <a class="dropdown-item" href="/week4">
                                            Week 4
                                            </a>
                                            <a class="dropdown-item" href="/week8">
                                            Week 8
                                            <a class="dropdown-item" href="/postseason"> 
                                            Playoffs
                                            </a>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                    <!-- One drop down-->
                                <div class="collapse navbar-collapse ul_format" id="navbarNavDropdown">
                                  <ul class="navbar-nav ">
                                      <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Misc.
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item" href='https://twitter.com/CadsKiper' target="_blank">
                                          Twitter
                                          </a>
                                          <!-- <a class="dropdown-item" href='/content'>
                                            Content
                                          </a> -->
                                        </div>
                                      </li>
                                   </ul>
                                </div>
                              </ul>
                            </div>
                          </div>
                        </ul>
                    </div>
                </form>
            </nav>
        </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <!--Margin-->
        </div>
      <div class="col-10">
        <br>
        <br> 
        <p>
          <div>
            <h2 class="text-center">
              Week 4 Power Rankings
            </h2>
          </div>
        </p>
        <hr>
        <p>
          <div>
            <h1 style="font-size:15px">
              Before we get into the rankings, here is the official 9ths (expected win) report through 4 weeks, courtesy of our league historian Cole "Stats" O'Flaherity. 
            </h1>
            <img src="../static/images/expected_wins4.jpeg" class="img-fluid">
            <h1 style="font-size:15px">
              <br>
              The 9ths show that Matty Ice and Oasis are overperforming compared to what they should be, 
              while Dooley and David's Balls are underperforming. SZN's hot start is backed up by the 9ths.
            </h1>
          </div>
        </p>
        <hr>
        <br>
        <div id=main_container >
        <table class="table table-striped table-dark">
          <thead class="table table-striped table-dark">
          <tr>
            <th scope="row">Rank</th>
            <th scope="row">Team</th>
            <th scope="row">Record</th>
            <th scope="row"> Rank Change</th>
            <th scope="row">Comments</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>SZN</td>
              <td>3-1</td>
              <td>- - - - </td>
              <td>
                This is shaping up to be SZN's season. Boasting both an elite runningback room
                and wide recievers corp, this is the team to beat. In my predraft ranking, I said this was a "prove-it" year for SZN, and so far he has done that.
                Exciting times to be a duck.
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Playoffs or Retire</td>
              <td>3-1</td>             
              <td>- - - - </td>
              <td>
                I was on Bucci's case all last year and preseason and he responded by coming out of the 
                gate hot. With an explosive lineup throughout, almost all of his players are liable to pop.
                The 9ths and points for back up Bucci's impressive start, look for Bucci to not have to retire.
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>JuHM</td>
              <td>3-1</td>
              <td>- - - - </td>
              <td>
                JuHM wraps out what I consider to be the three contenders right now. Since week 2,
                JuHM has been one of the most consistent teams in a year of low scoring. JuHM team has solid
                WRs and RBs but is especially strong at the one-player (QB, TE, DEF) roster spots.
              </td>
            </tr>
            <th scope="row">4</th>
              <td>Triple T </td>
              <td>2-2 </td>
              <td>- - - - </td>
              <td>
                The strength of Triple T's WR corp has never been questioned, but there have been some growing
                pains around runningback. Fortunately, Dobbins is back and Triple T has a free week against the Toast Team to 
                figure stuff out. Look for Triple T to become a stronger team in the second half of the year.
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Matty Ice </td>
              <td>3-1</td>
              <td>- - - - </td>
              <td>
                Much like Triple T, Matty Ice boasts a solid WR corp, though not to the same extent. Unlike 
                Triple T, he doesn't seem to have same forseeable answers at the runningback position. Recordwise Matty Ice started strong, 
                but the expected wins say that his team isn't as strong as his records suggest.
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Dooley </td>
              <td>1-3 </td>
              <td>- - - - </td>
              <td>After 2 5 point losses, Dooley's lucky finally bounced back when Triple T decided to play himself.
                After 4 weeks, Dooley finds himself in middle of the pack terms of expected wins and in the top half of points for, despite a bottom barrel record.
                After a rough 0-3 start, Dooley made a couple deals potientially turn the direction of the season.
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Oasis </td>
              <td>3-1 </td>
              <td>- - - - </td>
              <td>
                Oasis got out to a 3-1 start despite middling runningbacks
                and a bare-bones wrs outside of his top guy. The expected wins scream overrated and being in the bottom 4 for points for suggests 
                that there doesn't seem to be a lot of juice in the lineup. Fortunately, he has Stocktown and the Toast Team
                in 2 out of his next 3 games, so his record may not revert back to the way the advanced analytics see him.
              </td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>David's Balls </td>
              <td>1-3</td>
              <td>- - - - </td>
              <td>
                After a dominate start to his career in the league, David's Balls has gotten to an uncharactoristically slow start.
                Bolstered by only his qb, top WR and runningback, David's Balls is gonna need to address a few
                depth issues before he can start thinking about contending. </td>
            </tr>
            <tr>
             <th scope="row">9</th>
              <td>The Toast Team </td>
              <td> 0-4 </td>
              <td> - - - - </td>
              <td>
                It didn't take long for the Crisp team to become the Toast team.
                While there have been a few close losses, the Crisp Team has been putting
                up unspiring performances. Neither the RBs or WRs are particulary strong.
                While the Crisp team is technically underperforming, it still is in the cellar for expected wins.
                Who knows though, Sir Purr started 0-4 and made the playoffs...
              </td>
            </tr>
            <tr>
             <th scope="row">10</th>
             <td>Stocktown</td>
             <td> 1-3 </td>
             <td>- - - - </td>
             <td>
              After being the league's top scorer week 1, Stocktown has
              failed to put on any relevant weeks since then. From weeks 2 and 3, he was the lowest scorer and week 4 he's only outscored
              Triple T and the Toast Team. Simply can't win games when you're routinely the 
              lowest scoring team.
             </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <br><br>
      Overall I see a the top tier consisting of SZN, Bucci and JuHM. Then the next tier is TTT, Matty
      Ice and Dooley, who I see one or two pieces away from taking a step up. David's Balls and Oasis need a little more depth 
      than the prior tier. Finally there's Toast and Stocktown.
      <br><br><br>
      <div class="col-1">
        <!--Margin--> 
      </div>
     </div> 
  </div>
</body>
    <footer class="footer">
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="../static/js/csco_edu.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>